@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&display=swap');

:root{
    --primary-color: #393e41;
    --secondary-color: #156671;
    --thirdy-color: #e0e0e0;
    --fourhty-color: #ffff;
    --accent1-color: #d5ae20; 
    --accent2-color: #0b0b09;

    --heading-font: "PT Serif Caption", serif;
    --paragraph-font: "PT Serif Caption", serif;

    --nav-background-color: #e0e0e0;
    --nav-link-color:#156671;
    --nav-hover-link-color: #0b0b09;
    --nav-hover-background-color: #d5ae20;

}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;

}
body, h1, h2, h3, p, ul, ol, li {
    margin: 0;
    padding: 0;
}


body {
    font-family : var(--paragraph-fount);
    background-color: #f0f0f0;
    color: var(--accent2-color);
    max-width: 960px;
    padding: 20px;
    margin: 0 auto
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    background-color: var(--accent1-color);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-column: 1/2;
    grid-row: 1/2;


}

header img {
    max-width: 40%;
    position: relative;
    grid-column: 1/2;
    margin: 20px auto;
}


header nav {
    margin-bottom: auto;
    margin-top: auto;
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column: 2/3;
    grid-row: 1/2;

}

header nav a {
    color: var(--primary-color);
    text-decoration: none;
    margin: 0 10px;
    text-align: center;
}

nav a {
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
    text-align: center;
}


nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

main {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}

 div.hero {
    position: relative;
    margin: 2rem;
    padding: 10px 0;
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 1/2;
    grid-row:2/3;
}

.hero img {
    display: block;
    width: 95%;
    height: auto;
    grid-column: 1/4;
    grid-row: 1/4;
    align-content: center;
}

.hero article img {
    grid-column: 4/6;
    
    
}

.hero h1 {
    position: absolute;  /* Positioning the h1 absolutely */
    top:50%; /* Placing it vertically centered */
    left: 50%; /* Placing it horizontally centered */
    transform: translate(-50%, -50%); /* Centering trick */
    color: #fff;
    font-size: 2.5em;
    background-color: var(--primary-color);
    padding: 0;
    grid-column: 1/4;
    grid-row: 1/2;
}


.hero article {
    position: absolute; /* Positioning the article absolutely */
    top: 150%; /* Placing it vertically centered */
    left: 48%; /* Placing it horizontally centered */
    transform: translate(-50%, -50%); /* Centering trick */
    background-color: rgba(0, 0, 0, 0.7); /* Background color with opacity */
    padding: 20px;
    width: 800px ; /* Limiting the width of the article */
    color: #fff;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20%;
    grid-column: 1/4;
    grid-row: 2/3;

}

.hero article p {
    grid-column: 1/4;
    grid-row: 1/5;

}

.history {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 1/2;
    grid-row: 3/4;
}

.history h2 {
    color: var(--nav-background-color);
    font-size: 2.5em;
    background-color: var(--secondary-color);
    grid-column: 3/3;
    grid-row: 1/2;
    text-align: center;
    align-content: space-around;
    /*margin-bottom: auto;
    margin-top: 30px;*/

}

.history p {
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 1.5rem;
}
.adventure {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-column: 1/2;
    grid-row: 4/5;
}

section {
    margin-top: 40px;
}

.adventure h2 {
    margin-bottom: 10px;
    color: var(--accent2-color);
    font-size: 2.5em;
    grid-column: 1/6;
    grid-row: 1/2;
    text-align: center;
    align-content: space-around;
}

.adventure p {
    line-height: 1.6;
}

.adventure img {
    border: var(--secondary-color) solid;
    max-width: 100%;
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 1/6;
    grid-row: 2/4;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

figure {
    border: thin #221b94 solid;
    background-color: var(--fourhty-color);
    display: flex;
    flex-flow: column;
    padding: 10px;
    max-width: 200px;
    margin: auto;
}

figcaption {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 3px;
    text-align: center;
}

footer {
    width: auto;
    height: 100px;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column: 1/2;
    grid-row: 5/6;
}


footer p {
    grid-column: 1/4;
    grid-row: 1/2;
    margin-bottom: auto;
    padding: 25px;
    align-content: center;
}



.sociallinks {
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-end;
    align-content: stretch;
}

.sociallinks a {
    display: inline-block;
    text-align: center;
    text-decoration: none; /* Removing underlines from social media links */
}

.sociallinks img {
    display: flex;
    width: 30px;
    height: 30px;
}

a .wireframe {
    color: #007bff; /* Set the color of the link */
    text-decoration: none; /* Remove the underline */
    font-weight: bold;
    }
a .wireframe:hover {
    text-decoration: underline;
    font-size: 1.3rem;
}

/*aqui inicia el contact us*/
main .contact {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
}

.container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 1/2;
    grid-row: 1/2;
    color: var(--accent2-color);
    padding: 20px;
    margin: 30px;
    
}

.container h1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.container h2 {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0;
    padding: 20px 0;
}


.information {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column: 1/2;
    grid-row:2/3;
    padding: 20px;
    margin: 30px;
    align-items: flex-start;
}

.information h2 {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0;
    padding: 20px 0;
}


.Address {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0;
}

.Phone {
    grid-column: 1/2;
    grid-row: 3/4;
    margin: 0;
}

.Email {
    grid-column: 1/2;
    grid-row: 4/5;
    margin: 0;
}

a[href^="mail"] {
    text-decoration: none;
    color: black;
}

.map {
    
    grid-column: 1/2;
    grid-row: 3/4;
    margin: 0;
}

.map p {
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 1.5rem;
    text-decoration-line: underline;
    text-decoration-color: var(--secondary-color);
    padding-bottom: 30px;
}

iframe {
    grid-column: 1/3;
    grid-row: 2/3;
    border: 0;
}

/*.map figure, .map figcaption {
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background: none;
}*/


.customer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-column: 1/2;
    grid-row: 4/5;
}

.customer h2 {
    margin-bottom: 10px;
    margin-top: 50px;
    color: var(--accent2-color);
    font-size: 2.5em;
    grid-column: 1/5;
    grid-row: 1/2;
    align-content: center;
    text-align: center;

}

.customer img {
    border: var(--secondary-color) solid;
    max-width: 100%;
    margin-bottom: 20px;
    grid-column: 1/5;
    grid-row: 2/3;
    align-items: center;
    align-content: space-around;

}


.customer  figure {
    border: thin #221b94 solid;
    background-color: var(--fourhty-color);
    display: flex;
    flex-flow: column;
    padding: 10px;
    max-width: 200px;
    margin: auto;
}

.customer figcaption {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 3px;
    text-align: center;
}

form {
    grid-column: 1/2;
    grid-row: 5/6;
    margin: 100px auto;
    padding: 1rem;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
}

.message {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

label, input, button, select, textarea, p {
    font-family: Roboto, Arial, sans-serif;
}

label {
    text-align: left;
    padding: 10px;
    padding-right: 1px;  
}

input, select, textarea, text {
    padding: 0.5rem;
    font-size: 1.1rem;
    
}

.form-item {
    display: grid;
    align-items: center;
}

.message legend {
    position: relative;
    width: 15rem;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    padding: 5px;
    margin-left: 3rem;
    margin-bottom: 10px;
    text-align: center;  
    background-color: rgb(127, 197, 255);
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

